doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    hr
    - var url = 'https://github.com/node-linda/node-linda-base';
    a(href= url)= url
    span= " v"+process.version
